<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/meals/new.css">
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <form action="/meals" method="POST">
    <label for="meal-input">Name of Meal:</label>
    <input type="text" name="meal" id="meal-input">
    <button type="submit">ADD MEAL!</button>
  </form>
  <section>
    <h2>List of Meals</h2>
    <table id="display-table">
      <thead>
        <th></th>
        <th>Meal</th>
      </thead>
      <tbody>
        <% meals.forEach(meal => { %>
        <tr>
          <td>  
            <form action="/meals/<%= meal._id %>?_method=DELETE" method="POST">
              <button type="submit">Remove</button>
            </form>
          </td>
          <td>
            <%= meal.meal %>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>

  </section>
</main>


<%- include('../partials/footer') %>