<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/show.css">
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <section>
    <div>Airline: </div>
    <div>
      <%= flight.airline %>
    </div>
    <div>Destination: </div>
    <div>
      <%= flight.airport %>
    </div>
    <div>Flight Number: </div>
    <div>
      <%= flight.flightNo %>
    </div>
    <div>Departure: </div>
    <div>
      <%= flight.departs %>
    </div>
    <div>Meals:
    </div>
    <div>
      <% flight.meals.forEach(meal => { %>
        <p>
          <form action="/flights/<%= flight._id %>/meals/<%= meal._id %>?_method=DELETE" method="POST">
            <%= meal.meal %> 
            <button type="submit">Remove</button>
          </form>
        </p>
      <% }) %>
      <form action="/flights/<%= flight._id %>/meals" method="POST">
        <select name="meal">
          <% meals.forEach(meal => { %>
            <option value="<%= meal._id %>"><%= meal.meal %></option>
          <% }) %>
        </select>
        <button type="submit">Add Meal</button>
      </form>
    </div>
    <div>
      <a href="/flights/<%= flight._id %>/edit">Edit Flight Details</a>
    </div>
  </section>
  <table>
    <thead>
      <tr>
        <th>Seat</th>
        <th>Price</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% if (flight.tickets.length) {flight.tickets.forEach(ticket => { %>
      <tr>
        <td><%= ticket.seat %></td>
        <td>$<%= ticket.price %> USD</td>
        <td>
          <form action="/flights/<%= flight._id %>/tickets/<%= ticket._id %>?_method=DELETE" method="POST">
            <button type="submit">Delete Ticket</button>
          </form>
        </td>
      </tr>
      <% })} %>
    </tbody>
  </table>
  <form action="/flights/<%= flight._id %>/tickets" method="POST" id="add-ticket-form">
    <label>Seat
      <input type="text" name="seat" id="seat-input">
    </label>
    <label>Price
      <input type="text" name="price" id="price-input">
    </label>
    <button type="submit">Add Ticket</button>
  </form>


<%- include('../partials/footer') %>